# atomicwrites==1.3.0
attrs==17.4.0
backoff==1.3.2
backports.functools-lru-cache==1.6.1
certifi==2018.11.29
chardet==3.0.4
cookies==2.2.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
idna==2.7
inflection==0.3.1
isort==4.3.10
jsonschema==2.6.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==3.0.5
more-itertools==5.0.0
pathlib2==2.3.5
pluggy==0.9.0
psycopg2==2.7.5
py>=1.10.0
pytest==4.3.0
python-dateutil==2.7.5
pytz==2018.4
requests==2.20.0
responses==0.10.5
scandir==1.10.0
simplejson==3.11.1
singer-python==5.1.1
singer-tools==0.4.1
six==1.12.0
strict-rfc3339==0.7
tap_freshsales==0.1.0
target-postgres==1.1.3
terminaltables==3.1.0
urllib3==1.24.2
wrapt==1.11.1
