astroid==2.2.2
atomicwrites==1.3.0
attrs==17.4.0
backoff==1.3.2
certifi==2018.11.29
chardet==3.0.4
idna==2.7
inflection==0.3.1
isort==4.3.10
jsonschema==2.6.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
more-itertools==6.0.0
pluggy==0.9.0
psycopg2==2.7.5
py==1.8.0
pylint==2.3.1
pytest==4.3.0
python-dateutil==2.7.5
pytz==2018.4
requests==2.20.0
responses==0.10.5
simplejson==3.11.1
singer-python==5.1.1
singer-tools==0.4.1
six==1.12.0
strict-rfc3339==0.7
-e git+https://github.com/Lori-Systems/tap_freshsales@95826afbb132b7da8d36018d2cbbf7866261f13e#egg=tap_freshsales
target-postgres==1.1.3
terminaltables==3.1.0
typed-ast==1.2.0
urllib3==1.24.1
wrapt==1.11.1
